--- Core Data Science & ML ---
pandas==2.1.4
numpy==1.26.2
scikit-learn==1.3.2
scipy==1.11.4
matplotlib==3.8.2
seaborn==0.13.0
--- Deep Learning Framework ---
torch==2.1.1
--- Bioinformatics & Cheminformatics ---
DeepPurpose and its dependencies
DeepPurpose==0.1.6
For ESM-2 Model
transformers==4.35.2
For Morgan Fingerprints
deepchem==2.7.1
For Concordance Index
lifelines==0.27.8
--- Utility & Frameworks ---
For Hyperparameter Optimization
optuna==3.4.0
For Printing tables in console
tabulate==0.9.0
For progress bars
tqdm==4.66.1
For API requests (UniProt, ChEMBL)
requests==2.31.0
For reading Excel files
openpyxl==3.1.2
--- Notebook Environment ---
ipython==8.17.2
jupyter==1.0.0
